" Kotlin IdeaVim layer
" --------------------
" This file is the JetBrains backend for the same intent buckets used in
" nixcats. Keep the core muscle memory here, but do not try to mirror every
" Neovim-only UI feature one-for-one.

" Optional Vim plugins inside IdeaVim.
" Easymotion is useful in both Neovim and IntelliJ.
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

set NERDTree
set which-key

" Indentation
set breakindent = true
set smartindent = true
set expandtab = true
set tabstop = 2
set softtabstop = 2
set shiftwidth = 2

" UI
set cmdheight = 2
set conceallevel = 0
set pumheight = 10
set showmode = false
set showtabline = 2
set termguicolors = true
set laststatus = 3
set cursorline = true
set cursorlineopt = 'number'
set number = true
set relativenumber = true
set numberwidth = 2
set signcolumn = 'yes'
set colorcolumn = '120'
set wrap = false
set scrolloff = 8
set sidescrolloff = 8

set fileformat = unix
set fileencodings = utf-8

" Fold

nnoremap zC :action CollapseRegionRecursively<CR>
nnoremap zO :action ExpandRegionRecursively<CR>

" Search
set ignorecase = true
set smartcase = true
set hlsearch = false
set incsearch = true

" Splits
set splitbelow = true
set splitright = true

" Basic IDE / editor behavior
set number
set relativenumber
set easymotion
set clipboard+=unnamed
set clipboard+=ideaput
set notimeout
set clipboard^=unnamed,unnamedplus
let mapleader=" "

" IDEAVim
set ideajoin
set idearefactormode=keep
set ideamarks
set trackactionids


" ---------------------------------------------------------------------------
" Config helpers
" ---------------------------------------------------------------------------

" Open and reload this config without leaving the IDE.
nnoremap <Leader>ie :e ~/.ideavimrc<CR>
nnoremap <Leader>ir :action IdeaVim.ReloadVimRc.reload<CR>

" Convenience toggles and utilities.
nnoremap <Leader>h :action ToggleDistractionFreeMode<CR>

" ---------------------------------------------------------------------------
" Splits and window movement
" ---------------------------------------------------------------------------
" These are the biggest IntelliJ pain point to fix up front.
sethandler <c-v> a:vim
sethandler <c-x> a:vim
sethandler <c-h> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
sethandler <c-l> a:vim

nnoremap <c-v> :action SplitVertically<CR>
nnoremap <c-x> :action SplitHorizontally<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

" Vim-style movement between editor splits.
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Tab navigation and editor tab management.
sethandler <TAB> a:vim
sethandler <s-TAB> a:vim
nnoremap <TAB> :action PreviousTab<CR>
nnoremap <S-TAB> :action NextTab<CR>

nnoremap <Leader>q :action CloseContent<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>

" ---------------------------------------------------------------------------
" File / symbol / explorer navigation
" ---------------------------------------------------------------------------
" IntelliJ equivalents for the nixcats file and symbol search buckets.
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fS :action SearchEverywhere<CR>
nnoremap <leader>e :NERDTreeToggle<CR>

" ---------------------------------------------------------------------------
" Code intelligence / LSP-style actions
" ---------------------------------------------------------------------------
" These mirror the nixcats `<leader>l...` buckets.
nnoremap gd :action GotoDefinition<CR>
nnoremap gD :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gy :action GotoTypeDeclaration<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

nnoremap K :action QuickJavaDoc<CR>
nnoremap gl :action ParameterInfo<CR>

" Code actions / refactors / formatting.
nnoremap <leader>la :action ShowIntentionActions<CR>
nnoremap <leader>lr :action FindUsages<CR>
nnoremap <leader>lR :action RenameElement<CR>
nnoremap <leader>lf :action ReformatCode<CR>
nnoremap <leader>li :action OptimizeImports<CR>

" Buffer Actions
nnoremap <leader>bf :action ReformatFile<CR>

" buffer actions
" Exact IntelliJ equivalents are limited here:
" - show current error details at the caret
" - open the full problems tool window
" - jump between highlighted problems
nnoremap <leader>ld :action ShowErrorDescription<CR>
nnoremap <leader>x :action ActivateProblemsViewToolWindow<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap ]d :action GotoNextError<CR>

" Outline / structure.
nnoremap <leader>lo :action FileStructurePopup<CR>

" Finder / peek actions.
" IntelliJ has one call hierarchy popup rather than separate incoming/outgoing
" panes, so both mappings use the same action.
nnoremap <leader>lF :action SearchEverywhere<CR>
nnoremap <leader>lp :action QuickImplementations<CR>
nnoremap <leader>lP :action GotoTypeDeclaration<CR>
nnoremap <leader>lci :action CallHierarchy<CR>
nnoremap <leader>lco :action CallHierarchy<CR>

" ---------------------------------------------------------------------------
" Build / project / VCS
" ---------------------------------------------------------------------------
nnoremap <Leader>lbb :action CompileProject<CR>
nnoremap <Leader>lbr :action ExternalSystem.ProjectRefreshAction<CR>
nnoremap <leader>p :action ActivateProblemsViewToolWindow<CR>

" Project / Gradle tool window.
nnoremap <leader>G :action ActivateGradleToolWindow<CR>

" Git / VCS actions that still make sense in IntelliJ.
nmap <leader>ggb :action Git.Branches<cr>
nmap <leader>ggp :action Git.Pull<cr>
nmap <leader>ggu :action Git.Push<cr>
nmap <leader>ggr :action Git.Rebase<cr>
nmap <leader>ggm :action Git.Merge<cr>

nmap <leader>yy :action Vcs.Show.Local.Changes<cr>
nmap <leader>yp :action Vcs.QuickListPopupAction<cr>
nmap <leader>ya :action Annotate<cr>
nmap <leader>yl :action Vcs.Show.Log<cr>
nmap <leader>yd :action Compare.LastVersion<cr>
nmap <leader>yP :action Git.Pull<cr>
nmap <leader>yr :action Git.ResolveConflicts<cr>
nmap <leader>yo :action Github.Open.In.Browser<cr>

" IDE UI
nmap <leader>unv :action ActivateNotificationsToolWindow<cr>
nmap <leader>unc :action ClearAllNotifications<cr>
nmap <leader>uh :action HideActiveWindow<cr>
nmap <leader>ud :action ToggleDistractionFreeMode<cr>
nmap <leader>uz :action ToggleZenMode<cr>
nnoremap <Leader>ug :action EditorToggleShowGutterIcons<CR>
nnoremap <Leader>un :action EditorToggleShowLineNumbers<CR>
nmap <leader>us :action ShowSettings<cr>
nnoremap <leader>ut :action EditorTabPlacementNone<CR>   " Hide Tabs
nnoremap <leader>uT :action EditorTabPlacementTop<CR>    " Show Tabs


" File search,grep & move
nmap <Leader>ff <action>(com.mituuz.fuzzier.search.Fuzzier)
nmap <leader>fr :action RecentFiles<cr>
nmap <Leader>sg <action>(com.mituuz.fuzzier.search.FuzzierVCS)
nmap <Leader>fm <action>(com.mituuz.fuzzier.operation.FuzzyMover)
nmap <Leader>ss <action>(com.mituuz.fuzzier.grep.FuzzyGrepCI)
nmap <Leader>sS <action>(com.mituuz.fuzzier.grep.FuzzyGrep)
nmap <Leader>st <action>(com.mituuz.fuzzier.grep.FuzzyGrepOpenTabsCI)
nmap <Leader>sT <action>(com.mituuz.fuzzier.grep.FuzzyGrepOpenTabs)
nmap <Leader>sb <action>(com.mituuz.fuzzier.grep.FuzzyGrepCurrentBufferCI)
nmap <Leader>sB <action>(com.mituuz.fuzzier.grep.FuzzyGrepCurrentBuffer)

" Tab Manager
nmap <leader>]t :action NextTab<cr>
nmap <leader>[t :action PreviousTab<cr>

" Direct Paste (Bypass History Popup)
sethandler <C-v> a:vim  " Linux: If using Ctrl+V for paste
sethandler <D-v> a:vim  " Mac: Command+V

" Map to the simple Paste action
nnoremap <C-v> :action EditorPaste<CR>
inoremap <C-v> <C-O>:action EditorPaste<CR>
" For Mac (using 'D' for Command)
nnoremap <D-v> :action EditorPaste<CR>
inoremap <D-v> <C-O>:action EditorPaste<CR>

