[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/sobrien/.local/share/idea-eap/bin/idea.png
Name[en_US]=IntelliJ
Exec=/home/sobrien/.bin/idea-wrapper.sh
Name=IntelliJ
Icon=/home/sobrien/.local/share/idea-eap/bin/idea.png
